
<div class="col-md-6 col-md-offset-3">
  <!--grid where top left is 0,0-->

  <!--top row-->
  <div id="00" class="square"></div>
  <div id="01" class="square"></div>
  <div id="02" class="square"></div>
  <!--middle row-->
  <div id="10" class="square"></div>
  <div id="11" class="square"></div>
  <div id="12" class="square"></div>
  <!--bottom row-->
  <div id="20" class="square"></div>
  <div id="21" class="square"></div>
  <div id="22" class="square"></div>
</div>
