<div class="col-md-6 col-md-offset-4">
  <div class="table-responsive">
    <tbody>
      <tr>
        <td id="top-left">x</td>
        <td id="top-center">x</td>
        <td id="top-right">x</td>
      </tr>
      <tr>
        <td id="middle-left">x</td>
        <td id="middle-center">x</td>
        <td id="middle-right">x</td>
      </tr>
      <tr>
        <td id="bottom-left">x</td>
        <td id="bottom-center">x</td>
        <td id="bottom-right">x</td>
      </tr>
    </tbody>
  </div>
</div>

