<div class="col-md-3 col-md-offset-5">
  <div class="table-responsive">
    <tbody>
      <tr>
        <td id="00">x</td>
        <td>x</td>
        <td>x</td>
      </tr>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
      <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
      </tr>
    </tbody>
  </div>
</div>

