@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Permanent Marker';
  font-size: 4rem;
}

.board{
  border: 3px solid;
}
.square{
  float: left;
}
.gameButtons{
  display: none;
  padding-top: 10px;
}
td{
  min-width: 161px;
  height:161px;
  padding:50px;
  border: 3px solid;
}
tbody{
  table-layout: fixed;
}
.table-responsive{
  padding-top:50px;
  padding-left:4px;  
}
#top-left{
  border-style: hidden solid solid hidden;
}
#top-center{
  border-style: hidden solid solid;
}
#top-right{
  border-style: hidden hidden solid solid;
}
#middle-left{
  border-style: solid solid solid hidden;
}
// middle center inherits solid
#middle-right{
  border-style: solid hidden solid solid;
}
#bottom-left{
  border-style: solid solid hidden hidden;
}
#bottom-center{
  border-style: solid solid hidden;
}
#bottom-right{
  border-style: solid hidden hidden solid;
}